.section {
  margin-top: 60px;
  margin-bottom: 40px;
  max-height: 680px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}