.shine {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.current-orders {
  display: flex;
}

.active {
  margin-left: 32px;
}

.numbers {
  display: grid;
  grid-gap: 6px 8px;
  grid-template-columns: repeat(5, max-content);
}
