@import 'normalize';

:root {
  --color-text-inactive: #8585ad;
  --color-text-primary: #f2f2f3;
  --color-bg-secondary: #1c1c21;
  --color-bg-muted: #2f2f37;
  --color-bg-accent: #4c4cff;
  --color-bg-accent-light: #8585ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.justify-content_end {
  justify-content: flex-end;
}

.link {
  color: var(--color-bg-accent);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

.link:hover,
.link:focus {
  color: var(--color-bg-accent-light);
}

.link:active {
  color: var(--color-bg-accent);
}

.section {
  flex: 1;
  min-width: 0;
}

.section_size_small {
  max-width: 320px;
}

.section_form {
  width: 100%;
  max-width: 480px;
  padding-top: 180px;
  margin: 0 auto;
  text-align: center;
}

.constructor-element {
  align-items: center;
  max-height: 80px;
}

.constructor-element_pos_top,
.constructor-element_pos_bottom {
  margin-left: 38px;
}

.cursor-grabbing,
.cursor-grabbing:active {
  cursor: grabbing;
}
